.dice_card__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 1470px;
  min-height: fit-content;
}

.dice_cards_container {
  padding: 75px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.dice_card {
  background: #7e0000;
  border-radius: 15px;
  padding: 20px;
  width: 310px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  border: 2px solid rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  flex-shrink: 0;
}

.dice_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
  border-color: rgba(197, 0, 0, 0.3);
}

.dice_image {
  height: 200px;
  margin-bottom: 20px;
}

.dice_image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.dice_label {
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 275px;
  height: 60px;
  background-color: #000000;
  position: relative;
}

.dice_card__arrows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.up_arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.up_arrow:hover {
  transform: scale(1.1);
}

.down_arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.down_arrow:hover {
  transform: scale(1.1);
}

.dice_title {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.trash_icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.trash_icon:hover {
  transform: scale(1.1);
}

.roll_button {
  padding: 0.5rem 1rem;
  margin: 0;
  width: 250px;
  border: 3px solid #000000;
  border-radius: 4px;
  background-color: #860000;
  color: #000000;
}

.roll_button:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
  border-color: rgba(197, 0, 0, 0.3);
}
