.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.main__text {
  font-size: 32px;
  text-align: left;
  max-width: 60%;
  margin: 145px auto 0 72px;
}

.main__button {
  margin: 100px auto auto 72px;
  padding: 0.8rem 1rem;
  background-color: #7e0000;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main__button:hover {
  background-color: #c50404;
  color: #ffffff;
}
