.main {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4f0000;
  color: #ffffff;
}

.main h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
