.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
}

.header__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}

.header__logo {
  font-size: 2rem;
}

.header__title {
  color: #ffffff;
}

.header__auth-buttons {
  display: flex;
  gap: 1rem;
}

.header__register-btn,
.header__signin-btn {
  padding: 0.5rem 1rem;
  border: 1px solid #4f0000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #4f0000;
  color: #000000;
}

.header__register-btn:hover,
.header__signin-btn:hover {
  background-color: #4f0000;
  border: 1px solid #4f0000;
  color: rgb(255, 255, 255);
}
