.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  background-color: #000000;
}

.footer__title {
  margin: 0 auto 0 72px;
  color: #ffffff;
  font-size: 24px;
}
